.stadium {
  left: 35.5%;
  top: 45%;
}

.house-1 {
  left: 30%;
  top: 26%;
}

.monument {
  left: 23%;
  top: 67%;
}

.atrium {
  left: 56%;
  top: 58%;
}

.terminal {
  left: 60%;
  top: 38%;
}

.old {
  left: 72%;
  top: 20%;
}

.parking {
  left: 73%;
  top: 42%;
}

.hotel-1 {
  left: 68%;
  top: 60%;
}

.hotel-2 {
  left: 82%;
  top: 67%;
}

.hotel-3 {
  left: 56%;
  top: 73%;
}
