.map {
  position: relative;
  width: 100vw;
  &__background {
    height: 100vh;
    width: 100vw;
    filter: brightness(60%);
  }
}

.circle {
  cursor: pointer;
  position: absolute;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  padding-left: 15px;
  font-weight: bold;
  transition: all 0.1s linear;

  &.open {
    width: 113px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 19px 15px;

    div {
      font-weight: normal;
      display: block;
      width: 100%;
      scale: 1;
      transition: all 0.1s linear;
    }
  }
  &.green {
    @include background-color($color1: 106, $color2: 191, $color3: 75);
  }
  &.blue {
    @include background-color($color1: 56, $color2: 119, $color3: 238);
  }

  div {
    width: 0;
    scale: 0;
    margin-left: 15px;
    transition: all 0.1s linear;
  }
}
